{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sparrow Database {% endblock %}</h1>
    <div class="container bg-success rounded py-2 my-4 text-start" style="max-width: 20rem;">
        <span class="text-success text-white">
            Connected to :
            <br>
            {{versionInfo}}
        </span>
    </div>
    <div class="list-group mx-auto text-start my-5" style="max-width: 30rem;">
        <li class="list-group-item disabled">Features</li>
        <a 
            class="list-group-item list-group-item-action" 
            href="{{ url_for('showTableNames')}}"
        >
            🔎 View current sparrow table names
        </a>
        <a 
            class="list-group-item disabled" aria-current="true"
            href="#"
        > 
            🛠 More coming soon
        </a>
    </div>    
{% endblock %}
