{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sparrow DataBase Login {% endblock %}</h1>
    <form method="post">
        <br>
        <br>
        <label for="title">User</label>
        <br>
        <input type="text" name="user"
        placeholder="postgres"
        value="{{ request.form['user'] }}"
        required
        >
        </input>
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" name="password"
        placeholder="***********"
        value="{{ request.form['password'] }}">
        </input>
        <br>
        <br>
        <label for="host">Host</label>
        <br>
        <input type="text" name="host"
        placeholder="localhost"
        value="{{ request.form['host'] }}"
        required
        >
        </input>
        <br>
        <br>
        <label for="port">Port Number</label>
        <br>
        <input type="number" name="port"
        placeholder="54321"
        value="{{ request.form['port'] }}"
        required
        >
        </input>
        <br>
        <br>
        <label for="database">Database</label>
        <br>
        <input type="text" name="database"
        placeholder="sparrow"
        value="{{ request.form['database'] }}"
        required
        >
        </input>
        <br>
        <br>
        <button type="submit">Connect</button>
    </form>
{% endblock %}
