{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sparrow DataBase Tables {% endblock %}</h1>
    <table class="table table-bordered table-sm px-20 w-50 mx-auto my-5 text-start">
        <thead>
            <tr class="table-dark">
                <th scope="col" class="px-4">#</th>
                <th scope="col" class="px-4">Table Name</th>
            </tr>
        </thead>
        {% for index, tableName in enumerate(tableNames)%}
        <tr>
            <th scope="row" class="px-4">{{index}}</th>
            <td class="px-4">{{tableName[0]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
